body{
    font: 1em sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
background-color: rgb(3, 8, 37);
padding-bottom: 10px;
padding-top: 30px;
font-size:1em;
font-weight: bolder;


}

.flyer{
  display: flex;
}
 .pic{
width: 100%;
}
.flyer :nth-child(2){
    width: 600px;
}
.header a{
    text-decoration: none;
    color:  rgb(62, 74, 143);
}
.subs{
    text-align: center;
 
    
}
.links{
    padding: 150px;
    
}
.text{
    font-size: 1.3em;
    font-family:  sans-serif;
    text-align: center;
    padding-bottom: 1.7em;
    padding-top: 1.7em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text p{
    text-align:start;
    margin-left: 24em;
    
}
.text h2{
    text-decoration: underline  rgb(15, 84, 211);
    
}
section{
    background-color:  rgba(189, 185, 181, 0.685)
}
.flyer{
    text-align: center;
    /* background-image: linear-gradient(rgba(230, 148, 223, 0.685),rgb(240, 234, 234),rgba(230, 148, 223, 0.685); */
    margin-top:1em;
}
.footer{
    background-color: rgb(1, 4, 22);
    font: 1em sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    color: cornsilk;
    padding: 3em;
    margin-top: 1px;
}
.media{
    display: flex;
    flex-direction:column;
    font-family:  sans-serif;
height: 3em;
}
.footer h2{
    text-decoration: underline;
}
.black{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.blue{
    color: rgb(15, 84, 211);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    
}
.subs a:hover{
    transition: all 2s;
    text-decoration: underline;
    font-size: larger;
    color: crimson;
  
}
.tech{
    font: 1em sans-serif;
    font-size: 1.7em;}



